package exam;

import exam.Rectangle;

class Rectangle {
    int length;
    int breadth;

    Rectangle() {
        length = 1;
        breadth = 1;
    }

    Rectangle(int l, int b) {
        length = l;
        breadth = b;
    }

    int getArea() {
        return length * breadth;
    }
}

public class exam5 {
    public static void main(String[] args) {
        Rectangle r1 = new Rectangle();
        Rectangle r2 = new Rectangle(5, 10);

        System.out.println("Area (default): " + r1.getArea());
        System.out.println("Area (5,10): " + r2.getArea());
    }
}
